* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 1.8em Helvetica, Arial;
  background-color:rgb(182, 226, 132);
}

form {
  background: #000;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

form input {
  border: 0;
  padding: 10px;
  width: 100%; /* 90% is too much */
  margin-right: .5%;
}

form #button {
  color: #FFF;
  background:rebeccapurple;
  border: none;
  padding: 10px;
  width: 100%;
  text-align: center;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  background: rgb(40, 150, 194);
}

#notifyUser {
  position: fixed;
  bottom: 42px;
  width: 100%;
}

/* Reference: http://javabeginnerstutorial.com/javascript-2/create-simple-chat-application-using-node-js-express-js-socket-io/ */